<div class="item p-2 form-group row my-2 fade-in">
    <input class="form-control col" [id]="item.description" type="checkbox" (change)="item.done = !item.done"
        [checked]="item.done" />
    <label class="form-label col h4" [for]="item.description">{{item.description}}</label>

    <div class="btn-group col" *ngIf="!editable">
        <button class="btn btn-outline-info" (click)="editable = !editable">Edit</button>
        <button class="btn btn-outline-danger" (click)="remove.emit()">Delete</button>
    </div>

    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable">
        <input class="form-control form-control-lg mb-3" placeholder="edit item" [value]="item.description" #editedItem
            (keyup.enter)="saveItem(editedItem.value)" />

        <div class="btn-group mb-3">
            <button class="btn btn-outline-danger" (click)="editable = !editable">Cancel</button>
            <button class="btn btn-success" (click)="saveItem(editedItem.value)">
                Save
            </button>
        </div>
    </div>
</div>