<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid shadow-sm">
    <h1><a href="/" class="navbar-brand">My {{title}} List</a></h1>
  </div>
</nav>
<div class="main container">
  <div class="mb-3 text-center">
    <label class="form-label h2 mb-3" for="addItemInput">{{description}}</label>
    <div class="mb-3 input-group shadow-sm">
      <input #newItem placeholder="Add an Item" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        class="form-control input-lg" id="addItemInput">
      <button class="btn btn-success btn-lg" (click)="addItem(newItem.value)">Add</button>
    </div>
  </div>

  <!-- Buttons that show all, still to do, or done items on click -->
  <div class="btn-group mb-3 shadow-sm fade-in">
    <button class="btn btn-outline-primary" [class.active]="filter == 'all'" (click)="filter = 'all'">
      All
    </button>

    <button class="btn btn-outline-danger" [class.active]="filter == 'active'" (click)="filter = 'active'">
      To Do
    </button>

    <button class="btn btn-outline-success" [class.active]="filter == 'done'" (click)="filter = 'done'">
      Done
    </button>
  </div>

  <div *ngIf="items.length > 0; else elseBlock">
    <h3 class="mb-3">
      {{items.length}}
      <span *ngIf="items.length === 1; else elseBlock">Item</span>
      <ng-template #elseBlock>Items</ng-template>
    </h3>
    <ul class="list-group">
      <li class="list-group-item shadow-sm" *ngFor="let i of items"><app-item (remove)="remove(i)"
          [item]="i"></app-item>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
    <h3 class="mb-3">There are currently no Todo's</h3>
  </ng-template>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Copyright @ {{ year }} {{ owner }}</a>
  </div>
</nav>